<a href="https://colab.research.google.com/github/suahplanet/mining2022/blob/main/data_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시각화 연습문제

In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import pandas as pd

# 사용한 공공데이터 : 서울시 자동차 등록현황(연료별) 통계 중 전기, 하이브리드, 수소 (2015.01 ~ 2021.12) (https://data.seoul.go.kr/dataList/10860/S/2/datasetView.do)
car = pd.read_csv("/content/drive/My Drive/Colab Notebooks/자동차+등록현황(연료별)3.csv")

display(car) # 처음 5행 확인
print(car.info()) 
print(car.describe())

          시점  차종별(1)      계     계.1   계.2
0         시점  차종별(1)     전기   하이브리드    수소
1   2015. 01       계    832   28203     -
2   2015. 02       계    866   28621     -
3   2015. 03       계    878   29168     -
4   2015. 04       계    906   29205     -
..       ...     ...    ...     ...   ...
80  2021. 08       계  31220  133203  2109
81  2021. 09       계  33434  135667  2197
82  2021. 10       계  35067  137938  2285
83  2021. 11       계  38840  140097  2383
84  2021. 12       계  40564  141889    24

[85 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      85 non-null     object
 1   차종별(1)  85 non-null     object
 2   계       85 non-null     object
 3   계.1     85 non-null     object
 4   계.2     85 non-null     object
dtypes: object(5)
memory usage: 3.4+ KB
None
        시점 차종별(1)   계    계.1 계.2
count   85     85  85     85  85
unique  85      2  85     85  46
top     시점      계  전기  하이브리드  13
freq     1     84   1      1  13

In [21]:
car['연도'] = car.시점.str.split('.').str[0]

car

          시점  차종별(1)      계     계.1   계.2    연도
0         시점  차종별(1)     전기   하이브리드    수소    시점
1   2015. 01       계    832   28203     -  2015
2   2015. 02       계    866   28621     -  2015
3   2015. 03       계    878   29168     -  2015
4   2015. 04       계    906   29205     -  2015
..       ...     ...    ...     ...   ...   ...
80  2021. 08       계  31220  133203  2109  2021
81  2021. 09       계  33434  135667  2197  2021
82  2021. 10       계  35067  137938  2285  2021
83  2021. 11       계  38840  140097  2383  2021
84  2021. 12       계  40564  141889    24  2021

[85 rows x 6 columns]